.cooking-root{
    background-color: #F4F2E1;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
#cooking-background{
    height: 70vh;
    width: 70vh;
    left: 60%;
    margin: auto;
}
.recomentations-container{
    position: absolute;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    z-index: 1;
    bottom: 10%;
    width: 100%; 
    height: 50%;
    background-color: white;
    align-items: center;
}
.individual-recomendations{
    width: 300px; 
    height: 350px;
    min-width: 300px;
    max-width: 240px;
    margin: 10px 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}
#cook-btn{
    background-color: #FDDE8F;
    border-radius: 10px;
    border: 2px solid black;
    padding: 15px 100px;
    margin-left: 15%;
    position: relative;
}
.recipe-img{
    width: 200px;
    height: 200px;
}
.pot-items-container{
    position: absolute;
    width: 50%;
    height: 7%;
    background: #DAD0C2;
    border: 1px solid black;
    border-radius: 10px;
    left: 25%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.pot-item{
    margin:10px 10px;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    writing-mode: horizontal-tb;
}
.pot-item p {
    flex: 1;
    white-space: nowrap;
}
#remove-ingredient-btn{
    background: none;
    border: none;
}
#x-img{
    height: 10px;
    width: 10px;
}
#remove-ingredient-btn{
    width: 20px;
    height: 10px;
}
#enter-btn{
    position: fixed;
    background: #FDDE8F;
    left: 76%;
    border: 1px solid black;
    border-radius:10px;
    width: 12%;
    height: 6.5%;
}

#enter-btn:hover{
    position: fixed;
    background: #f8dc97;
    left: 76%;
    border-radius:10px;
    border: 1px solid black;
    width: 12%;
    height: 6.5%;
    transform: translateY(-3px);
}
#enter-btn:active{
    border: 1px solid black;
    background: #f8dc97;
    transform: translateY(3px);
}

.preplist-cooking{
    position: absolute;
    width: 70%;
    justify-content: space-between;
}
.prep-and-cook-wrapper{
    display: flex;
    flex-direction: row;
}

#return-btn{
    z-index: 1;
    padding: 1px 15px;
    margin: 0px 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 30px;
    border-radius: 10px;
    background-color: #F2CFAE; 
    cursor: pointer; 
    align-items: center;
}

#return-btn img{
    width: 30px;
    align-items: center;
}
::-webkit-scrollbar {
    width: 0; /* Make scrollbar invisible */
    height: 0;
}
