.fridge-root{
    height: 100vh;
    background-color: #F4F2E1;;
}
.fridge-items-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-gap:20px;
    background-color: #dcd6c4;
    border-radius: 16px;
    padding: 20px;
    margin: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  
}
.individual-items-container{
    display: flex;
    flex-direction: column;
    background-color:#f2efea;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    border: 1px solid black;
}

#back-btn{
    border-radius: 10px;
    background-color: #FDDE8F;
    cursor: pointer; 
    align-items: center;
    border: 1px solid black;
    padding: 10px 20px;
    width: 20px;
    margin-left: 20px;
}
#back-btn img{
    width: 20px;
}

.fill-the-space{
    background-color: #F4F2E1;
    display: block;
    width: 100px; /* Adjust width as needed */
    height: 20px; 
}
#add-to-preplist{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #FDDE8F;
    font-family: "Inknut Antiqua";
    font-size: 18; 
    width: 100px;
    margin-top: 20px;
}