.food-container{
    display: grid;
    grid-gap : 20px;
    grid-template-columns: repeat(6, 1fr);  /* four item per row */
    text-align: center;
    margin: 30px 20px;
}
.individual-food-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    background-color: ivory;
}
.buy-btn{
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #FDDE8F  ;
}
.buy-btn:hover{
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #eed084  ;
    cursor: pointer;

}
.buy-btn:active{
    transform: translateY(3px);
}


#shoppingcart{
    width: 20px;
    margin-right: 10px;
}