.cart-root {
    font-family: 'Arial', sans-serif;
    background: #F9F1DC;
    height: 95vh;
}
.placeholder {
    width: 10px; 
    height: 50px; 
  }
.table-container{
    margin: 0px 20px;
    border: 1px solid black;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 65vh;
    background-color: white;
}
.table-headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 11%;
}
.items-container{
    display: grid;
    grid-gap : 20px;
    grid-template-columns: repeat(4, 1fr);  
    text-align: center;
    margin: 10px 0px;
    font-family: "Inknut Antiqua";
    font-size: 18px;
   
}
.quantity-container{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    align-items: center;
    font-size: 20px;
}
.btn{
    margin: 10px;
    background: none;
    border: none;
    border-radius: 8px;
    padding: 5px;
    background-color: #FDDE8F ;
    border: 1px solid black;
}
.btn:hover{
    background-color: #e8cb81 ;
    transform: translateY(-2px);
}
.btn:active{
    transform: translateY(3px);
}
#quantityBtn{
    width: 10px;
    height: 10px;
    padding: 1px;
}
.purchase-info{
    margin: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
    font-size: 25px;
}
#buy-btn{
    background-color:#FDDE8F ;
    text-align: center;
    color: #000;
    font-family: "Inknut Antiqua";
    font-size: 25px;
    border-radius: 10px;
    margin: 2px 80px;
    padding: 10px 100px;
}
#buy-btn:hover{
    background-color: #e8cb81 ;
    transform: translateY(-2px);
}
#buy-btn:active{
    transform: translateY(3px);
}