.table-container{
    margin: 50px 20px;
    border: 1px solid black;
    overflow-y: auto;
    max-height: 70vh;
}
.table-headers{
    display: flex;
    flex-direction: row;
   
    justify-content: space-between;
    margin: 2% 11%;
}
.items-container{
    display: grid;
    grid-gap : 20px;
    grid-template-columns: repeat(4, 1fr);  
    text-align: center;
    margin: 10px 0px;
   
}
.quantity-container{
    display: flex;
    flex-direction: row;
    margin-left: 25%;
}