.home-root{
    background-color: #fffaf0;
    height: 90vh;
    width: 100vh;
}

#kitchen2{
   position: fixed;
   height: 100%;
   width: 100%;
   z-index: 0;

}
#fridge{
    position: fixed;
    bottom: 6%;
    left: 80%;
    height: 55%;
    width: 20%;
    color: #000;
}
#fridge:hover{
    position: fixed;
    bottom: 6%;
    left: 80%;
    height: 55%;
    width: 20%;
    color: #000;
}
#fridge-popup{
    position: fixed;
    left: 90%;
    bottom: 60%;
}
#cooking-container{
    position: fixed;
    left: 40%;
    bottom: 6%;
    height: 30%;
    width: 20%;
}

#cooking-container:hover{
    position: fixed;
    left: 40%;
    bottom: 6%;
    height: 30%;
    width: 20%;
}

#cook-popup{
    position: fixed;
    left: 50%;
    bottom: 39%;
}
.preplist{
    position: fixed;
    z-index: 999;
    top: 10%;
    width: 100%;
    height: 20%;
    
}
#preplist-btn{
   /* width: 20%;
   height: 20%; */
}