.home-root{
    background-color: #fffaf0;
    height: 90vh;
    width: 100vh;
}


#kitchen2{
   position: fixed;
   height: 100%;
   width: 100%;

}
#fridge{
    position: fixed;
    bottom: 10%;
    left: 70%;
    height: 569px;
    width: 625px;
}
#table{
    position: fixed;
    width: 341px;
    height: 229px;
    bottom: 14%;
    left: 45%;
    z-index: 1;
}
#pot{
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: 36%;
    left: 54%;
    z-index: 1;
}